.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.madewithnestle.ca/sites/default/files/2025-05/MWN_Boost_kids_1400x900.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h3{
  margin-bottom: 0.5em;
}

p {
  font-size: 15px;
  margin: 0 0 5px;
  line-height: 1.3;
  text-align: left;
}

ol{
  margin-left: 0.5em;
  padding-left: 0.5em;
}
ul {
  margin-left: 0.3em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}


li {
  margin-bottom: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
